@import "~bootstrap/scss/bootstrap";

body {
  padding-bottom: 1rem;
}

.alert:empty { display: none; }

form.link {
  display: inline;
}

nav.navbar {
  margin-bottom: 8px;
}

.navbar-container {
  padding-left: 0px;
  padding-right: 0px;
}

.invalid-feedback {
  display: block;
}


td {
 @extend .align-middle;
}